:root{
  --gallery-gap: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  background-color: #e6dbda;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

img{
  display: block;
    
  max-width: 100%;
  height: 210px;
  
}


/* gallery */

.container{
  
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.search-form{
  display: flex;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 20px;
  
}

.search-form > input{
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(81, 15, 204, 0.3);
  padding: 15px 16px;
  outline: none;
  border-radius: 4px;
   
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form > input:focus{
  border: 1px solid rgba(226, 15, 15, 0.3)
}

button{
  font-size: 16px;
  cursor: pointer;
  border: 1px solid rgba(81, 15, 204, 0.3);
  border-radius: 4px;
  background-color: transparent;
}



button:hover{
  background-color: rgba(226, 15, 15, 0.3);
}



.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
 
  margin-top: calc(-1 * var(--gallery-gap));
  margin-left: calc(-1 * var(--gallery-gap));
  
}

.gallery-item{
  flex-basis: calc(100% / 4 - var(--gallery-gap));
  
  margin-left: var(--gallery-gap);
  margin-top: var(--gallery-gap);
}



.photo-card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 5px;
  overflow: hidden;
}



.info{
  display: flex;
  justify-content: space-between;

  padding-left: 5px;
  padding-right: 5px;
}

.info-item{
  text-align: center;
}

.load-more{
  visibility: hidden;
  display: flex;
  margin-top: 20px;
  height: 50px;
  padding: 15px 16px;
  margin-left: auto;
  margin-right: auto;
}



.visible{
  visibility: visible
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid blue;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 



.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 100vh; */
  background-color: #736f6f;
  opacity: 0.2;
}



.loader-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 48px;
  min-width: 48px;
  background-color: transparent;
}

